.header {
  height: 70px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  position: relative;
  width: 38px;
  height: 38px;
  margin-right: 43px;
  color: $font-secondary-color;
  &__icon {
    @media screen and (max-width: 1279px) {
      position: absolute;
      top: -6;
      left: 85;
    }
  }

  &__text {
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 28px;
    line-height: 0.86;
    z-index: 1;
    @media screen and (min-width: 1280px) {
      display: none;
    }
  }
}

.navigation {
  display: none;
  justify-content: space-between;
  align-items: center;
  margin-right: 251px;

  @media screen and (min-width: 1280px) {
    display: block;
  }

  &__link {
    color: inherit;
  }

  &__link:not(:last-child) {
    margin-right: 60px;
    color: inherit;
  }
}

.search-form {
  display: none;
  position: relative;
  margin-right: 172px;

  &__input {
    padding-left: 45px;
    display: flex;
    border: 2px solid $font-secondary-color;
    border-radius: 5px;
    background-color: transparent;

    width: 288px;
    height: 40px;
    overflow: hidden;

    &:focus {
      outline: transparent;
    }
  }

  &__btn {
    height: 36px;
    border: none;
    border-right: 2px solid $font-secondary-color;
    border-color: $font-secondary-color;
    background-color: transparent;
    position: absolute;
    top: 2;
    left: 38;
    transform: translateX(-106%);
    color: $font-secondary-color;

    // &:hover {
    //   background-color: rgb(188, 192, 192);
    // }
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

// hero
.hero {
  display: flex;
  justify-content: space-between;
}

.hero__lable {
  width: 300px;
  color: $font-secondary-color;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.9;
  margin-top: 60;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 336px;
    font-weight: 600;
    font-size: 26px;
    line-height: 1.6;
  }

  @media screen and (min-width: 1280px) {
    width: 688px;
    font-weight: 600;
    font-size: 52px;
    line-height: 1.53;
  }
}

.hero__text {
  color: $font-letterpick;
  font-weight: 500;
  font-size: 14px;
  line-height: 2;
  margin-top: 0;
  margin-bottom: 40px;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.ABC-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 324px;

  @media screen and (min-width: 1280px) {
    width: 520px;
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__letter {
  display: block;
  width: 40px;
  height: 40px;
  color: $font-letterpick;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;

  &.active {
    color: $font-secondary-color;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px,
      #000 -2px 0px 2px;
  }
}

.hero__img {
  width: 300px;
  @media screen and (min-width: 1280px) {
    width: 580px;
  }
}

// datalist
.datalist {
  position: relative;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.datalist__input {
  font-size: 18px;
  padding: 5px 5px 5px 10px;
  height: 34px;
  width: 94px;
  border: 1px solid $font-secondary-color;
  outline: none;
  border-radius: 5px;
  color: $font-secondary-color;
}

.datalist__list {
  position: absolute;
  background-color: white;
  border: 1px solid $font-secondary-color;
  border-radius: 0 0 5px 5px;
  border-top: none;
  font-family: sans-serif;
  width: 94px;
  padding: 5px;
  max-height: 10rem;
  overflow-y: auto;
}

.datalist__option {
  background-color: white;
  padding: 4px;
  color: $font-secondary-color;
  margin-bottom: 1px;
  font-size: 18px;
  cursor: pointer;
}

.datalist__icon {
  position: absolute;
  display: block;
  fill: $font-secondary-color;
  right: 110;
  top: 8;
  pointer-events: none;
}

// gallery
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
  }
}

.card {
  width: 100%;
  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 64px) / 3);
  }
}

.card__title {
  text-align: center;
  margin: 0 0 25px 0;
}

.card__meta {
  padding: 20px;
}

.card__buttons {
  display: flex;
  justify-content: space-around;
}

.footer {
  background-color: $font-secondary-color;
  height: 110px;
}
