.header {
  height: 70px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-bottom: 15px;
}

.logo {
  width: 38px;
  height: 38px;
  margin-right: 43px;
  &__icon {
    color: black;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 251px;

  &__link {
    color: inherit;
  }

  &__link:not(:last-child) {
    margin-right: 60px;
    color: inherit;
  }
}

.search-form {
  display: none;
  position: relative;
  margin-right: 172px;

  &__input {
    padding-left: 45px;
    display: flex;
    border: 2px solid $font-secondary-color;
    border-radius: 5px;
    background-color: transparent;

    width: 288px;
    height: 40px;
    overflow: hidden;

    &:focus {
      outline: transparent;
    }
  }

  &__btn {
    height: 36px;
    border: none;
    border-right: 2px solid $font-secondary-color;
    border-color: $font-secondary-color;
    background-color: transparent;
    position: absolute;
    top: 2;
    left: 38;
    transform: translateX(-106%);
    color: $font-secondary-color;

    // &:hover {
    //   background-color: rgb(188, 192, 192);
    // }
  }

  @media screen and (min-width: 768px) {
    display: block;
  }
}

// hero
.hero {
  display: flex;
  justify-content: space-between;
}

.hero__lable {
  color: $font-secondary-color;
  font-weight: 600;
  font-size: 52px;
  line-height: 1.53;
  margin-top: 0;
  margin-bottom: 40px;
}

.hero__text {
  color: $font-letterpick;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  margin-top: 0;
  margin-bottom: 40px;
}

.ABC-picker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 520px;
}

.hero__letter {
  display: block;
  width: 40px;
  height: 40px;
  color: $font-letterpick;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;

  &.active {
    color: $font-secondary-color;
    text-shadow: #000 2px 0px 2px, #000 0px 2px 2px, #000 0px -2px 2px,
      #000 -2px 0px 2px;
  }
}

.hero__img {
  width: 580px;
}

// gallery
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  @media screen and (min-width: 768px) {
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 32px;
  }
}

.card {
  width: 100%;
  outline: 1px solid red;

  @media screen and (min-width: 768px) {
    width: calc((100% - 32px) / 2);
  }
  @media screen and (min-width: 1280px) {
    width: calc((100% - 64px) / 3);
  }
}

.card__title {
  text-align: center;
  margin: 0 0 25px 0;
}

.card__meta {
  padding: 20px;
}

.card__buttons {
  display: flex;
  justify-content: space-around;
}
