.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
  min-width: 108px;
  height: 39px;
  margin-left: auto;
  margin-right: auto;
  background-color: $btn-primary;
  color: $background-light;

  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-align: center;
  cursor: pointer;

  border-radius: 4px;
  border: 2px solid transparent;

  transition: 250ms linear;

  &:hover {
    background-color: $btn-focus;
    border: 2px solid $btn-focus;
    color: $btn-active;
  }

  &:active {
    background-color: $btn-active;
    border: 2px solid $btn-active;
    color: $background-light;
  }

  &--remove {
    min-width: 248px;
  }

  &--lm {
    margin-right: 20px;

    @media screen and (min-width: 768px) {
      min-width: 160px;
      height: 48px;
      margin-right: 12px;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.2;
    }

    @media screen and (min-width: 1280px) {
      min-width: 182px;
      margin-right: 16px;
    }
  }
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 110px;
  min-height: 39px;
  padding: 5px 10px;
  margin-left: auto;
  margin-right: auto;

  background-color: transparent;
  color: $font-secondary-color;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.02em;
  text-align: center;
  cursor: pointer;

  border-radius: 5px;
  border: 2px solid $btn-primary;

  transition: 250ms linear;

  &:hover {
    background-color: $btn-focus;
  }

  //   &:active {
  //     border: 2px solid $btn-active;
  //   }

  @media screen and (min-width: 768px) {
    min-width: 123px;
    min-height: 48px;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
  }

  @media screen and (min-width: 1280px) {
    min-width: 141px;
  }
}

.btn__icon {
  margin-left: 10px;
  fill: currentColor;
  @media screen and (max-width: 767px) {
    margin-left: 2px;
  }
}


.card__instruction,
.card__ingridients {
  display: none;
}