@import '~node_modules/modern-normalize/modern-normalize.css';


$white: #FFFFFF;
$black: #000000;
$basic: #FD5103;
$grey: #5F6775;
$nameCocktail: #202025;
$nameCocktailDarkTheme: #FCFCFC;
$ingredients: #BDBDBD;