// breakpoints
$min1200: 1280px;
$max1200: 1279px;

$min768: 768px;
$max768: 767px;

$min320: 320px;
$max320: 319px;

// COLORS
//font
$font-main-color: #202025;
$font-secondary-color: #fd5103;
$font-letterpick: #5f6775;

// bg
$background-dark: #202025;
$background-light: #ffffff;

//btn
$btn-primary: #fe7031;
$btn-focus: #f5f5f5;
$btn-active: #fd5103;
